/Makefile.in
/aclocal.m4
/autom4te.cache/
build*
/src/config.hpp.in
/configure
/config/missing
/config/install-sh
/config/depcomp
/config/config.sub
/config/config.guess
/config/compile
/compile_commands.json
/Makefile
